@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.button-fps {
    background-color: #00b4ff;
}

.button-whyyy {
    background-color: #ffcc00;
}

.button-skills {
    background-color: #74dd1a;
}

.navbar-color {
    background-color: #091c29;
}

.border-gold-400{
    --border-opacity: 1;
    border-color: #ffcc00;
}